.hero-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 9vw;
  font-weight: 300;
  letter-spacing: 0.3em;
  padding-left: 30px;
  line-height: 170px;
}

.posts {
  /* height: 100%; */
  overflow-x: hidden;
 
}
