.card {
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  width: 230px;
  min-height: 230px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.card h1 {
  font-weight: 800;
  width: 100%;
  height: 70px;
}

.card:hover {
  min-height: 250px;
  width: 250px;
}

.carousel-transition {
  position: relative;
  right: 70px;
  transition-property: position;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.carousel-item{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inner{
  transition: all 0.7s ease-in-out;
}